body{
  background-color: #2e2e2e; /* dark grey */
    margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.TopText {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: white; 
  font-size: 1.2em;
  margin: 0.5em 0;
}

#playlist {
  list-style: none;
  padding: 0;
  margin: 1em;
}

#playlist li {
  background: #444;
  color: white;
  padding: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 8px;
  font-family: sans-serif;
}

#playlist li:focus {
  background-color: #007bff;
  outline: none;
}

li:focus {
  outline: 2px solid #00ffcc;
  background-color: #444;
}


  